<div class="hero">
  <p>
    New 12-week course for Engaged Couples
  </p>
</div>
<div class="list">
  <div>
    <% @lessons.each do |lesson| %>
      <div class="row fieldset">
        <div class="col-12 form-vertical">
          <p>Chapter: <%= lesson.chapter %></p>
          <p>Title: <%= lesson.title %></p>
          <p>Lesson: <%= lesson.summary %></p>
        </div>
        <nav>
          <%= link_to 'Show Lesson', lesson_path(lesson), class:"button" %>
        </nav>
      </div>
    <% end %>
  </div>
  <nav>
    <% if current_user_admin? %>
      <p>
        <%= link_to 'Add New Lesson', new_lesson_path, class: 'button' %>
      </p>
    <% end %>
  </nav>

</div>
