<div>
  <div id="user">
    <div class="fieldset">
      <h1>
        Chapter <%= @lesson.chapter %>
      </h1>
      <p>
        Title <%= @lesson.title %>
      </p>
      <p>
        Summary <%= @lesson.summary %>
      </p>
    </div>
    <div>
      <% if current_user_admin? %>
        <nav>
          <%= link_to 'Edit Lesson', edit_lesson_path(@lesson), class: 'button' %>
          <%= link_to 'Delete Lesson', @lesson, method: :delete,
          data: { confirm: "Are you sure you want to permanently delete your account?"},
          class: 'button' %>
        </nav>
      <% end %>
    </div>
  </div>
</div>
