<section class="l-container">
  <div class="row fieldset">
    <div class="col-12 form-vertical">
      <p>Reflections on Chapter: <%= @lesson.chapter %></p>
      <p>Title: <%= @lesson.title %></p>
      <p>Summary: <%= @lesson.summary %></p>
      <p>Number of Reflections: <%= @reviews.count %></p>
    </div>
  </div>
  <div class="form-horizontal">
    <nav>
      <%= link_to 'Write Reflection', new_lesson_review_path(@lesson), class:"button" %>
      <% if current_user_admin? %>
        <%= link_to 'Edit Lesson', edit_lesson_path(@lesson), class: 'button' %>
        <%= link_to 'Delete Lesson', @lesson, method: :delete,
        data: { confirm: "Are you sure you want to permanently delete your account?"},
        class: 'button' %>
      <% end %>
    </nav>
  </div>
  <div>
    <% @reviews.each do |review| %>
      <div class="row fieldset reviews">
        <div class="col-12 form-vertical">
          <h3>Reflection created on <%= reviewed_on_format(review) %></h3>
          <%= review.comment %>
        </div>
      </div>
    <% end %>
  </div>
</section>
