<!DOCTYPE html>
<html ng-app="ready2wed">
<head>
  <title>FOTFDeveloperExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div id="wrapper">

  <%= render "layouts/flashes" %>

  <div ng-view>
    <section id="content">
      <%= yield %>
    </section>
  </div>
</div>

<%= render "layouts/footer" %>

</body>
</html>
